# if you are not opening your db to the public, keeping the password as postgres is fine.
# if you do change this password, make sure to change it in the appsettings of the CannedNet projects.
POSTGRES_PASSWORD=postgres