bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
/CannedNet.API/Migrations
CannedNet.sln.DotSettings.user
CannedNet/Data/PrivateKey.pem
/CannedNet/.zed
CannedNet/Data/PublicKey.pem
CannedNet.Admin/admin_users.json
CannedNet.Admin/admin_config.json
CannedNet/config.json
