<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users/search">
                        <span class="bi bi-search-nav-menu" aria-hidden="true"></span> Search Users
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="rooms/search">
                        <span class="bi bi-building-nav-menu" aria-hidden="true"></span> Search Rooms
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="config/communityboard">
                        <span class="bi bi-megaphone-fill-nav-menu" aria-hidden="true"></span> Community Board
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="storefronts">
                        <span class="bi bi-cart-fill-nav-menu" aria-hidden="true"></span> Storefronts
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="settings">
                        <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> Settings
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
