<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CannedNet.Admin</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
                    </NavLink>
                </div>

                <div class="nav-section-label px-3 mt-3 mb-1 text-muted small text-uppercase">Users</div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users/search">
                        <span class="bi bi-search-nav-menu" aria-hidden="true"></span> Search Users
                    </NavLink>
                </div>

                <div class="nav-section-label px-3 mt-3 mb-1 text-muted small text-uppercase">Rooms</div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="rooms/search">
                        <span class="bi bi-building-nav-menu" aria-hidden="true"></span> Search Rooms
                    </NavLink>
                </div>

                <div class="nav-section-label px-3 mt-3 mb-1 text-muted small text-uppercase">Config</div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="config/gameconfig">
                        <span class="bi bi-sliders-nav-menu" aria-hidden="true"></span> Game Config
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="config/communityboard">
                        <span class="bi bi-megaphone-fill-nav-menu" aria-hidden="true"></span> Community Board
                    </NavLink>
                </div>

                <div class="nav-section-label px-3 mt-3 mb-1 text-muted small text-uppercase">Storefronts</div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="storefronts">
                        <span class="bi bi-cart-fill-nav-menu" aria-hidden="true"></span> Storefronts
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
